[Desktop Entry]
Type=Application
Exec=example
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=example
Name=example
Comment[en_US]=example
Comment=example
